# 放到 /lib/systemd/system/
[Unit]
Description=WOA-Layout Bun Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/Users/dio/workspace/woa-layout

# 生产环境变量（可按需修改）
Environment=NODE_ENV=production
Environment=PORT=8383

# Bun 可执行文件需要使用绝对路径
ExecStart=/root/.bun/bin/bun /Users/dio/workspace/woa-layout/src/index.ts

Restart=always
RestartSec=3

# 输出到 journald
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
